<h1>Stewardess ditails</h1>

<p *ngIf="!stewardess"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="stewardess">
  <thead>
      <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Crew Id</th>
          <th>Birth Date</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>{{ stewardess?.id }}</td>
          <td>{{ stewardess?.firstName }}</td>
          <td>{{ stewardess?.lastName }}</td>
          <td>{{ stewardess?.crewId }}</td>
          <td>{{ stewardess?.birthDate|date}}</td>
      </tr>
  </tbody>
</table>